:root {
  color-scheme: light dark;

  --title: Kode Mono, sans-serif, Arial, Helvetica;
  --font-variation: Anta, sans-serif, Arial, Helvetica;
  --primary-font: Poppins, sans-serif, Arial, Helvetica;
  --secondary-font: Roboto, sans-serif, Arial, Helvetica;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  width: 800px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #252525;
}

i {
  font-size: 2.5em;
  color: red;
  animation: fire-animation 1s infinite alternate;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 2.5em;
  color: #fff;
  margin: 15px 0;
}

.btn-group {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

a {
  display: flex;
  align-items: center;
  color: #fff;
}

button {
  position: absolute;
  width: 150px;
  height: inherit;
  font-size: 1.2em;
  background: #252525;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid red;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

button:nth-child(1) {
  margin-left: -200px;
  padding: 8px;
  background: red;
  animation: bg-fire 1.5s infinite alternate;
}

button:nth-child(2) {
  margin-right: -200px;
  color: red;
}

@keyframes fire-animation {
  0% {
    background-position-y: 0%;
    color: rgb(255, 0, 0);
  }

  50% {
    background-position-y: 50%;
    color: rgb(255, 102, 0);
  }
  
  100% {
    background-position-y: 100%;
    color: rgb(255, 196, 0);
  }
}

@keyframes bg-fire {
  0% {
    background-position-x: 0%;
    background: rgb(255, 0, 0);
    border: rgb(255, 0, 0);
  }

  50% {
    background-position-x: 50%;
    background: rgb(255, 102, 0);
    border: rgb(255, 102, 0);
  }
  
  100% {
    background-position-x: 100%;
    background: rgb(255, 196, 0);
    border: rgb(255, 196, 0);
  }
}
